@use 'src/styles/vars';

body {
  background: #E4E7EC;
  font-family: 'Poppins', sans-serif;
}

.dashboard-superadmin {
  width: 80%;
  height: 95vh;
  display: flex;
  background: #F5F5F5;
  align-self: center;
  border-radius: 20px;
  flex-direction: row;

  @media (max-width: 1300px) {
    margin-top: 90px;
  }
  
  .dashboard-adminAssociation-rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow-y: scroll;

    @media (max-width: 1500px) {
      width: 100%;
    }

    .dashboard-adminAssociation-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: aquamarine;
      padding: 20px;
      width: 100%;
      height: 70%;

      .dashboard-adminAssociation-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .dashboard-adminAssociation-down {
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  
      

    .dashboard-adminAssociation-buttonsList {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      width: 100%;
      padding-left: 65px;
      

      @media (max-width: 1300px) {
        justify-content: center;
        padding-left: 0px;
      }

      .dashboard-adminAssociation-button {
        margin-right: 10px;
        border: 2px solid vars.$turquoiseColor;
        border-radius: 20px;
        width: 120px;
        height: 40px;
        color: vars.$turquoiseColor;
        font-weight: 700;
        font-size: small;
        text-transform: uppercase;

        // &:hover {
        //   background-color: vars.$turquoiseColor;
        //   color: white;
        // }
      }
    }

    .dashboard-adminAssociation-listing-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}



