@use 'src/styles/vars';

body {
  background: #E4E7EC;
  font-family: 'Poppins', sans-serif;
}

.dashboard-superadmin {
  width: 80%;
  height: 95vh;
  display: flex;
  background: #F5F5F5;
  align-self: center;
  border-radius: 20px;
  flex-direction: row;

  @media (max-width: 1500px) {
    margin-top: 90px;
  }
  
  .dashboard-superadmin-rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (max-width: 1500px) {
      margin-top: 70px;
    }

    h1 {
      font-size: xx-large;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 700;
      align-self: flex-start;
      margin-top: 20px;
      margin-left: 20px;
    }

    .dashboard-superadmin-presentation{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid black;
      height: auto;
      width: 90%;
      margin: 0px 30px 30px 30px;
      padding: 2em;
      border-radius: 20px;
      filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.35));

      .dashboard-superadmin-presentation-leftside {
        
        .dashboard-superadmin-presentation-title {
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 1em;
        }  
  
        .dashboard-superadmin-presentation-item {
          margin-bottom: 1em;
          display: flex;
          flex-direction: row;

          .strong {
            font-weight: bold;
          }
        }
      }

      .dashboard-superadmin-presentation-picture {
        width:500px;
        height: 100%;
        background-color: vars.$salmonColor;
        border-radius: 20px;

        @media (max-width: 1300px) {
          display: none;
        }
      }
    }
      

    .dashboard-superadmin-buttonsList {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      width: 100%;
      padding-left: 65px;
      

      @media (max-width: 1300px) {
        justify-content: center;
        padding-left: 0px;
      }

      .dashboard-superadmin-button {
        margin-right: 10px;
        border: 2px solid vars.$turquoiseColor;
        border-radius: 20px;
        width: 120px;
        height: 40px;
        color: vars.$turquoiseColor;
        font-weight: 700;
        font-size: small;
        text-transform: uppercase;

        // &:hover {
        //   background-color: vars.$turquoiseColor;
        //   color: white;
        // }
      }
    }

    .dashboard-superadmin-listing-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 70vh;
      overflow-y: scroll;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}



