
.ConfidentialPolicy-container {
  display: flex;
  flex-direction: row;

  .ConfidentialPolicy-leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 50vw;
    height: 100vh;
    padding: 3em;

    .ConfidentialPolicy-leftside-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: x-large;
      width: 150px;
      height: 100px;
      background-color: greenyellow;
    }
      
    .ConfidentialPolicy-leftside-content {

      .ConfidentialPolicy-title {
        font-size: xx-large;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1em;
  
      }
  
      .ConfidentialPolicy-text {
        text-align: justify;
        margin-bottom: 2em;
        line-height: 1.5em;
  

      }
    
    }

    .ConfidentialPolicy-leftside-empty {



    }

  }

  .ConfidentialPolicy-rightside {
    width: 50vw;
    height: 100vh;
    background-color: blue;
    
    .ConfidentialPolicy-rightside-picture {
      width: auto;
      height: 100%;

    }

  }
}
