@use 'src/styles/vars.scss';

  .btn-form-login{
    width: auto;
    top: 1.2em;
    right: 1.4em;
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #074666;
    color: white;
    padding: 1em 3em 1em 3em;
    border-radius: 30px;
    border: 1px;
    box-shadow: 10px 5px 5px vars.$darkColor;
    z-index:1;  
    position: absolute;
  }

@media(min-width:767px) and (max-width:1023px)
{
  .btn-form-login{
    font-size: 1em;
    top: 2em;
    right: 1.9em;
    padding: 1em 1.4em 1em 1.4em;
    }
  }

  @media(min-width:1024px)
{
  .btn-form-login{
    font-size: 1.2em;
    top: 1.5em;
    right: 1.4em;
    padding: 1em 3em 1em 3em;
    }
}

