body {
  background: #E4E7EC;
  font-family: 'Poppins', sans-serif;
}

.dashboard-superadmin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 95%;
  display: flex;
  margin: auto auto;
  border-radius: 20px;
}

.cards {  
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 1.5em;
  justify-content: space-around;
  overflow: auto;
  width: 85%;

  @media (max-width: 1300px) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5em;
  }
}
