.card-association {
  background: #6a8fa2;
  width: 280px;
  height: 350px;
  padding: 1em;
  padding-top: 2em;
  border-radius: 20px;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.35));
  display: flex;
  flex-direction: column;
  place-content: center;
}

.card-association h2 {
  margin-top: 1em;
  text-align: center;
}

.card-association .image {
  background: #074666;
  height: 100px;
  position: relative;
  left: 50%;
  width: 150px;
  transform: translateX(-50%);
}

.details-association {
  width: 80%;
  height: 20%;
  background: #545758;
  font-size: 0.7em;
  margin: 4.5em auto 1em;
  display: flex;
  place-content: center;
  border-radius: 15px;
}

.details-association .card-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  font-weight: 600;
  place-self: center;
}
