.card-association {
  background: #6a8fa2;
  width: 200px;
  height: 220px;
  padding: 1em;
  padding-top: 2em;
  margin: 2em 0;
  border-radius: 20px;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.35));
}

.card-association h2 {
  margin-top: 0.5em;
  text-align: center;
}

.card-association .image {
  background: #074666;
  height: 100px;
  position: relative;
  left: 50%;
  width: 150px;
  transform: translateX(-50%);
}

.details-association {
  width: 80%;
  height: 20%;
  background: #545758;
  font-size: 0.7em;
  margin: 1em auto;
  display: flex;
  place-content: center;
}

.details-association .card-link {
  color: #fff;
  font-weight: 600;
  place-self: center;
}
