@use 'src/styles/vars';

@media (max-width: 1500px) {
  .AsideNavbarAdmin {
    display : none;
  }
}

@media (min-width: 1501px) {

  .AsideNavbarAdmin-Navbar-ul {
    position: relative;
    top: -50%;
    transform: translateY(50%);
  }
  
  .AsideNavbarAdmin {
    width: 15vw;
    height: 100%;
    padding-top: 20px;
    background-color: vars.$blueColor;
    border-radius: 20px 0 0 20px;

    .AsideNavbarAdmin-ProfileCard-main {

      display: flex;
      flex-direction: column;
      border: solid 1px vars.$lightColor;
      margin: 0px 30px;
      height: 40vh;
      padding: 15px; 
      border-radius: 25px;
      justify-content: space-between;
      align-items: center;
      
      .AsideNavbarAdmin-ProfileCard-Picture-Container{

        .AsideNavbarAdmin-ProfileCard-MainPicture{
          width: 100px;
          height: auto;
          margin: 0px auto 20px auto;
          border: solide 3px red;
        }
      }
      
      .AsideNavbarAdmin-middleContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .AsideNavbarAdmin-ProfileCard-Name{
          color: vars.$lightColor;
          font-weight: 900;
          text-align: center;
          
        }
  
        .AsideNavbarAdmin-ProfileCard-Title{
          color: vars.$lightColor;
          text-align: center;
          margin-top: 10px;
        }

        .AsideNavbarAdmin-ProfileCard-picture{
          width: 70%;
        }
      }

      .AsideNavbarAdmin-downContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:10%;

        .AsideNavbarAdmin-ProfileCard-Link{
          color: vars.$lightColor;
          text-align: center;          
          font-size: small;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .AsideNavbarAdmin-Navbar-container {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: auto;
      height: 45vh;

      .AsideNavbarAdmin-Navbar-main {
        margin-top: 2em;

        .AsideNavbarAdmin-Navbar-ul {
          
          .AsideNavbarAdmin-Navbar-item {
  
            .material-icons {
              font-family: 'Material Icons';
              font-weight: normal;
              font-style: normal;
              font-size: 24px;  /* Preferred icon size */
              display: inline-block;
              line-height: 1;
              text-transform: none;
              letter-spacing: normal;
              word-wrap: normal;
              white-space: nowrap;
              direction: ltr;
            }
          }
        }
      }
    }
  }
}
