@use 'src/styles/vars.scss';


.home {
  width: 100%;

  @media(min-width:1024px) {   
  position: relative;
  font-size: 1.2em;
  }

  .home-header-header {
    display: flex;
    padding-bottom: 1em;
    background-color: vars.$turquoiseColor;
    position: relative;

  @media(min-width:1024px){
    padding-bottom: 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
    .part-registration-logo {
      .imageLogo {
        width: 9em;
        border-radius: 20px;
        margin: 1em auto auto 1em;

        @media(min-width:1024px){
          margin: 2em auto auto 2em;
        }
      }
    }
    .part-connexion-btn {

      .btn-login {
        margin-top: 1.5em;
        position: absolute;
        right: 1em;
      }
    }
  }

  .home-content{

    .home-header {
      margin-top: 6em;
      text-align: center;
    
    @media(min-width:1024px){
      display: flex;
      text-align:left;
    }
      .part-registration {
        margin-top: 3em;
      
      @media(min-width:1024px){
        padding-top: 2em auto 4em 4em;
        width: 60%;
        position: relative;
      }

        .part-registration-content {
          text-align: justify;
          padding-bottom: 4em;
          margin: 1em 2em auto 2em;
          color: vars.$blueColor;

        @media(min-width:1024px){
          margin: 2em 2em 2em 4em;
        }
          
          .part-registration-title {
            font-size: 1.3em;
            font-weight: 800;
            margin-bottom: 1.2em;
            line-height: 140%;
          }

          .part-registration-text {
            line-height: 120%;
            margin-bottom: 2em;
            font-size: 1.1em;
            font-weight: 500;
          
            @media(min-width:768px) and (min-width:1023px){
              font-size: 1.3em;
              line-height: 150%;
              margin-bottom: 3em;
            }  
          }
            .part-registration-btn-subscribe {
              text-align: center;
            
            @media(min-width:1024px){
              margin-top: 2.5em auto 7em auto;
            }
            }    
        }
      }
      .part-connexion {
        width: 100%;

      @media(min-width:1024px){
        width: 40%;
        position:relative;
      }
        .stadium-img {
          width: 100%;

        @media(min-width:1024px){
          position: absolute;
          height: max-content;
          top:10;
        }   
        }
      }
    }
    .part-association {
      background-color: vars.$turquoiseColor;
      padding: 2em 2em 2em;
      margin-top: -1em;
    
      @media(min-width:1024px){
        font-size: 1em;
        line-height: 120%; 
      }

      .part-association-title {

        @media(min-width:768px){
          font-size: 1em;
        }
        .part-association-title-title {
        color: vars.$lightColor;
        padding-top: 2em;
        margin-bottom: 3em;
        line-height: 140%;
        text-align: center;
        font-weight: 800;

        @media(min-width:1024px){
          padding-top: 3.5em;
          font-size: 1.6em;
        }
          strong {
            font-size: 1.2em;
          }
        }
      }
      .part-association-content{
        @media(min-width:1024px){
          display: flex;
          flex-direction: row-reverse;
          margin: 2em 2em 2em 2em;
          }
        
        
        .part-association-content-content {
          width: 100%;
          color: vars.$lightColor;
          text-align:justify;
          padding-bottom:1em;
        
        @media(min-width:1024px){
          width: 50%;
          text-align: justify;
          padding-bottom: 7em;
          height: max-content;
        }
      
        .part-association-text{
          margin-bottom: 0.9em;
          font-weight: 500;
          font-size: 1em;
          line-height: 120%;
          text-align: left;

          @media(min-width:768px){
            font-size:1.3em;
          }

          @media(min-width:1023px){
            font-size: 1em;
            font-weight: 500;
            line-height: 120%;
            margin-bottom: .9em;
          }
        }

        ul {

          .part-association-text-elem-list {
            list-style-type: disc;
            margin: 1em auto 1em 1em;
            font-size: 1em;

            @media(min-width:768px){
              font-size:1.3em;
            }
          }
        }
      }
        .part-association-img {
          width: 100%;
          height: 70%;
          justify-content: center;

        @media(min-width:1024px){
          width: 50%;
        }

          .dashboard-association-img {
            width: 100%;
            margin-bottom: 2em;

            @media(min-width:768px){
              margin-bottom: 3.5em;
            }

            @media(min-width:1023px){
              width: 70%;
              height: min-content;
              margin: auto auto auto 5em;
            }
          }
        }

        .part-association-btn-subscribe{
          text-align:center;

        @media(min-width:1023px){
          display: none;
        }
        }
      }        
    }

    .part-user {
      padding: 2em;

      @media(min-width:1024px){
        padding-bottom: 7em;
      }
  
      .part-user-title{

        .part-user-title-title{
          padding-top: 2em;
          margin-bottom: 3em;
          line-height: 140%;
          text-align: center;
          font-weight: 800;

        @media(min-width:1024px){
          padding-top: 3.5em;
          font-size: 1.6em;
          
            strong {
              font-size: 1.2em;
            }
          }   
        }
      }

      .part-user-content{

      @media(min-width:1024px){
        display: flex;
      }
        .part-user-content-content {
          width: 100%;
          text-align: left;
          padding: auto 1em 3.5em 1em;
        
        @media(min-width:1024px){
          width: 50%;
          margin-top: 2em;
          text-align: justify;
          padding-bottom: 7em;
          height: max-content;
        }

          .part-user-text{
            font-weight: 500;
            margin-bottom: 0.9em;
            font-size: 1em;
            line-height: 120%;
            text-align: left;
          
          @media(min-width:768px){
            font-size:1.3em;
          }

          @media(min-width:1024px){
            font-size: 1em;
            font-weight: 500;
            line-height: 120%;
            margin-bottom: .9em;
          }
        }

          ul{

          .part-user-text-elem-list{
            list-style-type: disc;
            margin: 1em auto 1em 1em;
            font-size: 1em;
            
            @media(min-width:768px){
              font-size:1.3em;
            }
          }
        }
    }  
        .part-user-img{
          width: 100%;
          height: 70%;
          justify-content: center;

          @media(min-width:1023px){
            width: 50%;
          }
          .dashboard-user-img {
            width: 100%;
            margin: 2em auto 2em auto;

            @media(min-width:768px) and (min-width:1023px){
              margin: -0.7em auto 3.3em auto;
            }

            @media(min-width:1024px){
              width: 70%;
              height: min-content;
              margin: auto auto auto 5em;
            }   
          }
        }
        
        .part-user-btn-subscribe {
        margin-top: 0.5em;
        text-align: center;

        @media(min-width:1023px){
          display: none;
        }
        }                 
    }
  }
  }
}
// // tablet
// @media(min-width:768px) and (max-width:1023px) {
//   .home {
    
//     .part-registration-text {
//       font-size: 1.3em;
//       line-height: 150%;
//       margin-bottom: 3em;
//     }

//     .part-connexion{
//     .stadium-img {
//       height: 30em;
//     }
//   }
//     strong {
//       font-size: 1.2em;
//     }

    
//     .part-association-title{
//       font-size: 1.6em;
//     }

//     .part-association-content{
//     .part-association-text{
//       font-size: 1.3em;
//     }
//   }

//     .part-association-text-elem-list{
//       font-size: 1.3em;
//     }

//     .dashboard-association-img {
//       margin-bottom: 3.5em;
//     }

//     .dashboard-user-img {
//       margin: -0.7em auto 3.3em auto;
//     }
//   }
// }

// // desktop
// @media(min-width:1024px) {
//   .home {
//     position: relative;
//     font-size: 1.2em;

//     .home-header-header{
//       display: flex;
//       padding-bottom: 0;
//       background-color: transparent;
//       position: relative;
//       z-index: 1;

//       .part-registration{
//         .part-registration-content{
//           margin: 2em 2em 2em 4em;
//         }
//       }
//       .part-registration-logo {
//         .imageLogo {
//           margin: 2em auto auto 2em;
//         }
//       }
//     }

//     .home-header {
//       display: flex;
//       text-align:left;
  

//   .part-connexion {
//     width: 40%;
//     position:relative;

//   .stadium-img {
//     position: absolute;
//     width: 100%;
//     height: max-content;
//     top:10;
//   }
// }
//     .btn-form-subscribe {
//       margin-top: 2.5em auto 7em auto;
//     }

//     .part-registration {
//       padding-top: 2em auto 4em 4em;
//       width: 60%;
//       position: relative;
//     }

//     .btn-form-login {
//       margin-top: 2em;
//     }

//     .part-registration-title {
//       .part-registration-title-title{
//       font-size: 1.6em;
//     }
//   }
//  }   
//     .part-association{
//       padding:auto 4.3 auto 4.3em;
//       font-size: 1.3em;
//       line-height: 120%;
//     }

//     .part-association-title{
//       .part-association-title-title{
//       padding-top: 3.5em;
//       font-size: 1.6em;
//     }
//   }

//     .part-association-content {
//       display: flex;
//       flex-direction: row-reverse;

//       .part-association-content-content {
//       width: 50%;
//       text-align: justify;
//       padding-bottom: 7em;
//       height: max-content;
//     }
//   }
//     .part-association-img {
//       width: 50%;

//       .dashboard-association-img {
//       width: 70%;
//       height: min-content;
//       margin: auto auto auto 5em;
//     }
//   }

//     .part-association-btn-subscribe{
//       display: none;
//     }

//     .part-user {
//       padding-bottom: 7em;
    
//     .part-user-title{
//       .part-user-title-title{
//         padding-top: 3.5em;
//          font-size: 1.6em;
//       }
//     }
//     .part-user-content {
//       display: flex;

//     .part-user-content-content {
//       width: 50%;
//       margin-top: 2em;

//       .part-user-text{
//         font-size: 1em;
//         font-weight: 500;
//         line-height: 120%;
//         margin-bottom: .9em;
//       }
//     } 
    
//     .part-user-img {
//       width: 50%;

//       .dashboard-user-img {
//       width: 70%;
//       height: min-content;
//       margin: auto auto auto 5em;
//     }
//     }
  
//     .part-user-btn-subscribe{
//       display: none;
//     }
//   }
//   }
//  }
// }
// }
 
