@use 'src/styles/vars.scss';

.home {
  color: vars.$darkColor;
  
  & > *:not(:last-child){
    height: 100vh;
  }

  .wrapper-top{
    display: flex;
    flex-direction: column;

    .wrapper-top-left{
      height: 60%;
      align-self: center;
      text-align: center;
      margin-top: 10em;

      & h1{
        font-size: 1.2em;
        font-weight: 800;
        margin: auto;
        padding-bottom: 0.5em;
        padding-top: 1em;
        width: 80%;
        line-height: 125%;
      }

      & p{
        width: 80%;
        margin: auto;
        font-size: 0.8em;
        line-height: 125%;
      }
    }

    .wrapper-top-right{
      width: 50%;

      & img{
        height: 78.5%;
        object-fit: contain;
        width: 100%;
      }
    }
  }

  .wrapper-mid{
    color: #E4E7EC;
    background-color: vars.$turquoiseColor;

    .wrapper-mid-header{
      text-align: center;
      padding: 2em;
      
      & h1{
        font-size: 1em;
        font-weight: 800;
        line-height: 140%;
      }
    }

    .wrapper-mid-content{
      display: flex;
      flex-direction: column;

      .wrapper-mid-left{        
        & img{
          object-fit: contain;
          width: 60%;
          left: 50%;
          position: relative;
          transform: translateX(-50%);
        }
      }

      .wrapper-mid-right{
        font-size: 0.7em;
        font-weight: 500;
        line-height: 150%;
        margin: 4em;

        & ul{
          list-style: inside;
          padding-top: 1em;
        }
      }
    }
  }

  .wrapper-bot{
    padding-top: 2em;

    .wrapper-bot-header{
      text-align: center;
      margin: 2em;
      
      & h1{
        font-size: 1em;
        font-weight: 800;
        line-height: 140%;
      }
    }

    .wrapper-bot-content{
      display: flex;
      flex-direction: column;

      .wrapper-bot-content-left{
        font-size: 0.7em;
        font-weight: 500;
        line-height: 150%;
        margin: 4em;

        & > *{
          margin-bottom: 0.3em;
        }
      }

      .wrapper-bot-right{       
        & img{
          object-fit: contain;
          width: 70%;
          left: 50%;
          position: relative;
          transform: translateX(-50%);
        }
      }
    }
  }

  @media(min-width:768px){
    .wrapper-top{
      flex-direction: row;

      .wrapper-top-left{
        width: 60%;
        margin-top: 6em;

        & h1{
          font-size: 1.6em;
          padding-bottom: 1em;
          padding-top: 1.8em;
        }

        & p{
          font-size: 1.2em;
        }
      }

      .wrapper-top-right{
        width: 40%;

        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .wrapper-mid{
      .wrapper-mid-header{
        padding: 2.5em 4.5em;
        
        & h1{
          font-size: 1.4em;
        }
      }

      .wrapper-mid-content{
        flex-direction: row;
        justify-content: center;
        margin-top: 2em;

        .wrapper-mid-left{
          width: 50%;
          
          & img{
            width: 90%;
            left: 53%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }

        .wrapper-mid-right{
          align-self: center;
          font-size: .9em;
          margin: 0;
          padding: 3em;
          padding-left: 2em;
          width: 50%;
        }
      }
    }

    .wrapper-bot{
      .wrapper-bot-header{
        padding: 2.5em 4.5em;
        
        & h1{
          font-size: 1.4em;
        }
      }

      .wrapper-bot-content{
        flex-direction: row;
        justify-content: center;

        .wrapper-bot-content-left{          
          align-self: center;
          font-size: .9em;
          margin: 0;
          padding: 3em;
          padding-left: 2em;
          width: 50%;

          & > *{
            margin-bottom: 1em;
          }
        }

        .wrapper-bot-right{
          width: 40%;
          
          & img{
            right: -45%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
        }
      }
    }
  }

  @media(min-width:1400px){
    .wrapper-top{
      .wrapper-top-left{
        margin-top: 3em;
        & h1{
          font-size: 2.2em;
        }

        & p{
          font-size: 1.6em;
        }
      }
    }

    .wrapper-mid{
      .wrapper-mid-header{
        padding: 3.5em;
        padding-bottom: 2.5em;
        
        & h1{
          font-size: 1.7em;
        }
      }

      .wrapper-mid-content{
        margin-top: 0;

        .wrapper-mid-left{          
          & img{
            object-fit: contain;
            width: 80%;
            left: 50%;
            top: 50%;
          }
        }

        .wrapper-mid-right{
          font-size: 1.1em;
        }
      }
    }

    .wrapper-bot{
      .wrapper-bot-header{
        margin: 0;

        & h1{
          font-size: 1.7em;
        }
      }

      .wrapper-bot-content{
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        .wrapper-bot-content-left{
          font-size: 1.1em;
        }

        .wrapper-bot-right{
          width: 50%;
          & img{
            left: 50%;
            right: 0;
            width: 80%;
          }
        }
      }
    }
  }
}
