.logo-wrapper {
  display: flex;
  flex-direction: row;
  width: 12em;
  background-color: #074666;
  border-radius: 15px;
  margin-bottom: 3.5em;
}

.logo-image {
  width: 25%;
  margin-left: 0.7em;
}

.logo-text {
  color: #02a5a5;
  margin: 1.6em auto 1.6em 1.2em;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
}
