@use 'src/styles/vars';

body {
  background: #E4E7EC;
  font-family: 'Poppins', sans-serif;
}

.dashboard-superadmin-adherent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  height: 95vh;
  display: flex;
  align-self: center;
  border-radius: 20px;
  background: #F5F5F5;

  @media (max-width: 1300px) {
    margin-top: 90px;
  }

  .dashboard-superadmin-rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;

    h1 {
      font-size: xx-large;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 700;
      align-self: flex-start;
      margin-top: 20px;
      margin-left: 20px;
    }

    .dashboard-superadmin-event{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 2px solid black;
      height: auto;
      width: 90%;
      margin: 0px 30px 30px 30px;
      padding: 2em;
      border-radius: 20px;
      filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.35));

        .dashboard-superadmin-event-title {
          text-transform: uppercase;
          font-weight: 700;
          font-size: x-large;
          margin-top: 1em;
          margin-bottom: 1em;
        }  
  
        .dashboard-superadmin-event-item {
          margin-bottom: 1em;
          display: flex;
          align-items: center;
        }

        .strong {
          font-weight: bold;
        }
      
        .dashboard-superadmin-event-profiles-container {

          .dashboard-superadmin-event-profile {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            .dashboard-superadmin-event-profile-firstname {
              margin-right: 10px;
            }

            .dashboard-superadmin-event-profile-lastname {
              text-transform: uppercase;
            }
          }
        }
      
    }
    
    .dashboard-superadmin-button {
      
      margin-bottom: 2em;
      border: 2px solid vars.$turquoiseColor;
      border-radius: 20px;
      width: 120px;
      height: 40px;
      color: vars.$turquoiseColor;
      font-weight: 700;
      font-size: small;
      text-transform: uppercase;
      
    }
    
  }

  
}
