
.listing-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 70px;

  .listing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: red;
    height: 30px;
    
    

    .listing-header-leftside {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 15px;

      .listing-title {
        margin-right: 15px;
         h2 {
          font-weight: 600;
          text-transform: uppercase;
         }
      }
  
      .listing-addIcon {
        cursor: pointer;

        .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;  /* Preferred icon size */
          display: inline-block;
          line-height: 1;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;
        }
      
      }
    }

    .listing-header-rightside {
      display: flex;
      flex-direction: row;
      align-items: center;

      .listing-filter {
        margin-right: 15px;

        h2 {
           color: yellow;
        }
      }

      .listing-filterIcon {
        margin-right: 10px;
        

        .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;  /* Preferred icon size */
          display: inline-block;
          line-height: 1;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;
          cursor: pointer;
        }
      
      }

    }

  }

  .listing-corpse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: chartreuse;
      
    .listing-line-leftside {
      display: flex;
      flex-direction: row;
      
      .listing-line-items {
        margin-left: 15px
      }
    }

    .listing-line-rightside {

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        margin-left: 5px;
      }

    }

  }

}

  
  

