@use 'src/styles/vars';

body {
  background: #E4E7EC;
  font-family: 'Poppins', sans-serif;
}

.dashboard-superadmin-adherent-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  height: 95vh;
  display: flex;
  align-self: center;
  border-radius: 20px;
  background: #F5F5F5;

  .dashboard-superadmin-adherent-add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    overflow-y: scroll;
    width: 100%;

    h1 {
      font-size: xx-large;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 700;
      align-self: flex-start;
      margin-top: 20px;
      margin-left: 20px;
    }

    .dashboard-superadmin-adherent-add-form {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .field {
        width: 100%;
      }


      .dashboard-superadmin-event-button {

        margin-bottom: 2em;
        border: 2px solid vars.$turquoiseColor;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        color: vars.$turquoiseColor;
        font-weight: 700;
        font-size: small;
        text-transform: uppercase;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        
      }
    }
  }
}
