@use 'src/styles/vars';
.listingEvent-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;

  .listingEvent-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;
    align-items: center;
    
    .listingEvent-header-leftside {
      display: flex;
      flex-direction: row;
      align-content: center;
      border-bottom: 2px solid black;
      padding-bottom: 5px;
      width:30%;

      .listingEvent-title {
        margin-right: 15px;
        
         h2 {
          font-weight: 600;
          font-size: x-large;
          text-transform: uppercase;
         }
      }
  
      .listingEvent-addIcon {
        cursor: pointer;
        .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;  /* Preferred icon size */
          display: inline-block;
          line-height: 1;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;
        }
      
      }
    }
    .listingEvent-header-rightside {
      display: flex;
      flex-direction: row;
      align-items: center;
      .listingEvent-filter {
        display: flex;
        align-content: center;

        .listingEvent-filter-button {
          background-color: white;
          border: 2px solid vars.$salmonColor;
          height: 30px;
          width: 60px;
          color: vars.$salmonColor;
          font-weight: 700;
          cursor: pointer;
          margin-left: 10px;
          border-radius: 20px;
         
          &:hover {
            background-color: vars.$salmonColor;
            color: white;
          }
        }
      }
      // .listing-filterIcon {
      //   margin-right: 10px;
        
      //   .material-icons {
      //     font-family: 'Material Icons';
      //     font-weight: normal;
      //     font-style: normal;
      //     font-size: 24px;  /* Preferred icon size */
      //     display: inline-block;
      //     line-height: 1;
      //     text-transform: none;
      //     letter-spacing: normal;
      //     word-wrap: normal;
      //     white-space: nowrap;
      //     direction: ltr;
      //     cursor: pointer;
      //   }
      
    }
  }
  
  .listingEvent-line-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-bottom: 1px black solid;
    margin-left: 30px;

    @media (max-width: 1300px) {
      margin-left: 0px;
    }

    .listingEvent-line-header-leftside {
      display: flex;
      flex-direction: row;

      .listingEvent-line-header-name {
        margin-left: 15px;
        width:100px;
        font-weight: 700;
        display:flex;
        align-content: center;
        
      }
      .listingEvent-line-header-place {
        margin-left: 15px;
        width:150px;
        font-weight: 700;

        @media (max-width: 800px) {
          display: none;
        }
      }

      .listingEvent-line-header-schedule {
        margin-left: 15px;
        width:100px;
        font-weight: 700;

        @media (max-width: 1200px) {
          display: none;
        }
      }

      .listingEvent-line-header-startDate {
        margin-left: 15px;
        width:100px;
        font-weight: 700;
      }

      .listingEvent-line-header-endDate {
        margin-left: 15px;
        width:100px;
        font-weight: 700;

        @media (max-width: 1200px) {
          display: none;
        }
      }

      .listingEvent-line-header-maxParticipants {
        margin-left: 15px;
        width:100px;
        font-weight: 700;

        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
  }
  
  .listingEvent-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px black solid;
    margin-left: 30px;
    &:hover {
      background-color: black;
      color: white;
    }
    
    @media (max-width: 1300px) {
      margin-left: 0px;
    }

    .listingEvent-line-leftside {
      display: flex;
      flex-direction: row;
      
      .listingEvent-line-items-name {
        margin-left: 15px;
        width:100px;
      }

      .listingEvent-line-items-place {
        margin-left: 15px;
        width:150px;

        @media (max-width: 800px) {
          display: none;
        }
      }

      .listingEvent-line-items-startDate {
        margin-left: 15px;
        width:100px;
      }

      .listingEvent-line-items-endDate {
        margin-left: 15px;
        width:100px;

        @media (max-width: 1200px) {
          display: none;
        }
      }

      .listingEvent-line-items-schedule {
        margin-left: 15px;
        width:100px;

        @media (max-width: 1200px) {
          display: none;
        }
      }

      .listingEvent-line-items-maxParticipants {
        margin-left: 15px;
        width:100px;
        text-align: center;

        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
    .listingEvent-line-rightside {
    
      .listingEvent-line-icon-message {
        
        cursor: pointer;

        @media (max-width: 1100px) {
          display: none;
        }
      }


      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px; 
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        margin-left: 5px;
      }
    }
  }
}
