@use 'src/styles/vars';

body {
  background: #E4E7EC;
  font-family: 'Poppins', sans-serif;
}

.dashboard-superadmin-adherent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 95%;
  display: flex;
  margin: auto auto;
  border-radius: 20px;

  @media (max-width: 1300px) {
    margin-top: 90px;
  }

  .dashboard-superadmin-rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
      font-size: xx-large;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 700;
      align-self: flex-start;
      margin-top: 20px;
      margin-left: 20px;
    }

    .dashboard-superadmin-presentation{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid black;
      height: auto;
      width: 90%;
      margin: 0px 30px 30px 30px;
      padding: 2em;
      border-radius: 20px;
      filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.35));

      .dashboard-superadmin-presentation-leftside {
        
        .dashboard-superadmin-presentation-title {
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 1em;
        }  
  
        .dashboard-superadmin-presentation-item {
          margin-bottom: 1em;
        }
      }

      .dashboard-superadmin-presentation-picture {
        width:500px;
        height: 100%;
        background-color: vars.$salmonColor;
        border-radius: 20px;

        @media (max-width: 1300px) {
          display: none;
        }
      }
    }
  }
}
