@use 'src/styles/vars.scss';

.footer-content{
  background-color: vars.$turquoiseColor;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 30px;
  height: 200px;

  .footer-content-list-elem{
    margin-bottom: 8px;
    font-size: 1.2em;
  }

  .footer-copyright{
    margin-top: 35px;
  }
}
