@use 'src/styles/vars.scss';

.btn-form-subscribe{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  background-color: #074666;
  color: white;
  padding: 1em 3em 1em 3em;
  border-radius: 30px;
  border: 1px;
}

