@use 'src/styles/vars.scss';

.error{
  width: 50%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 6em;
  text-align: center;
  line-height: 3em;
  
  .error-title{
    font-size: 6em;
    font-weight: 800;
    margin-bottom: 0.2em;
    color:vars.$turquoiseColor;
  }

  .error-text{
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
  }
}
