@use 'src/styles/vars.scss';

.error{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 3em;
  color: vars.$turquoiseColor;
  
  .error-title{
    font-size: 6em;
    font-weight: 800;
    margin-bottom: 0.2em;
  }

  .error-text{
    color: #05221E;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .error-button {
    place-self: center;
    background: vars.$turquoiseColor;
    color: #FFF;
    font-size: 1em;
    // text-transform: capitalize;
    font-weight: 600;
    padding: 1em 2.5em;
    border-radius: 35px;
    border: none;
    margin-bottom: 3.5em;
    margin-top: 1em;

    &:hover {
      background-color: #05221E;
    }
  }
}

.Error-container {
  display: flex;
  flex-direction: column;
 
  .Error-UpPart {
    display: flex;
    flex-direction: row;

    @media (max-width: 1100px) {
      flex-direction: column;
    }

    .Error-leftside {
      width: 50vw;
      height: 100vh;
      

      @media (max-width: 1100px) {
        width: 100vw;
      }

      @media (max-width: 550px) {
        display: none;
      }
    
      .Error-rightside-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        width: 150px;
        height: 100px;
        background-color: greenyellow;
        z-index: 99;
      }

    }

    .Error-rightside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-between;
      width: 50vw;
      height: 100vh;
      padding: 3em;

      @media (max-width: 1100px) {
        width: 100vw;
        
      }

      @media (max-width: 570px) {
        width: 100vw;
        height: 150vh;
        padding: 2em;
      }
        
      .Error-rightside-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
          font-size: xx-large;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 1em;
          color: vars.$turquoiseColor;
        }
    
        h2 {
          font-size: large;
          margin-bottom: 2em;
         
        }

        .button {
          font-size: 1.3rem;
          margin-top: 1em;
          border: 2px solid vars.$turquoiseColor;
          border-radius: 20px;
          color: vars.$turquoiseColor;
          font-weight: 800;
          text-transform: uppercase;
          cursor: pointer;
          transition: .2s;
          width: 30%;
          height: 2em;
          margin-right: auto;
          margin-left: auto;
          
          
        }

        .button:hover {
          background-color: vars.$turquoiseColor;
          color: white;
        }
      }
    }
  }
}

// tablet
@media(min-width:768px) and (max-width:1023px){
  .error-title{
    font-size: 4em;
  } 

  .error-text{
    font-size:1.8em;
  }
}
