body {
  background: #E4E7EC;
  font-family: 'Poppins', sans-serif;
}

.dashboard-superadmin {
  width: 95%;
  height: 95vh;
  display: flex;
  margin: auto;
  border-radius: 20px;
  flex-direction: row;
  background: #F5F5F5;
  
  .dashboard-superadmin-rightside {
    display: flex;
    flex-direction: column;
    width: 100%;
  

    h1 {
      font-size: xx-large;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 700;
      margin-top: 20px;
      margin-left: 20px;
    }

    .dashboard-superadmin-presentation{
      border: 1px solid black;
      border-radius: 25px;
      height: 50vh;
      width: 95%;
      margin: 0px 30px;
    }

    .dashboard-superadmin-listing-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 50vh;
      overflow-y: scroll;
    }

  }

}



